<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reshad.assignment_1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@android:style/Theme.Holo.Light.DarkActionBar"> -->
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BMICalculatorActivity"
            android:label="@string/title_activity_bmicalculator"
            android:parentActivityName=".Main" >
        </activity>
        <activity
            android:name=".RandomNumberActivity"
            android:label="@string/title_activity_random_number"
            android:parentActivityName=".Main" >
        </activity>
        <activity
            android:name=".NewCountryActivity"
            android:label="@string/title_activity_country_visited"
            android:parentActivityName=".Main" >
        </activity>
        <activity
            android:name=".CountryVisited"
            android:label="@string/title_activity_country_visited"
            android:parentActivityName=".Main" >
        </activity>
        <activity
            android:name=".VaxjoWeather"
            android:label="@string/title_activity_vaxjoweather"
            android:parentActivityName=".Main"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".OneDayWeather"
            android:label="@string/one_day_weather"
            android:parentActivityName=".VaxjoWeather"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".AdaptLayoutActivity"
            android:label="@string/beer_pager"
            android:parentActivityName=".Main"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>

        <receiver android:name=".NewAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget" />
        </receiver>




        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
